<header class="bg-white shadow">
  <div class="px-4 py-4 mx-auto md:px-8 max-w-7xl">
    <nav class="flex items-center justify-between">
      <div><%= link "How To Learn", to: Routes.home_path(@conn, :index), class: "text-lg leading-none tracking-tight" %></div>
      <%= render "_user_menu.html", conn: @conn, current_user: @current_user %>
    </nav>
  </div>
</header>
