<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "#{Map.get(assigns[:skill] || %{}, :name)} #{Map.get(assigns[:category] || %{}, :name)}", suffix: " – How To Learn" %>
    <meta name="description" content="Best resources to learn English">

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <script defer src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script async defer data-domain="howtolearn.link" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body class="flex flex-col justify-between h-screen">
    <%= render "_header.html", conn: @conn, skill: assigns[:skill], current_user: assigns[:current_user] %>
    <div class="flex-1"><%= @inner_content %></div>
    <%= render "_footer.html", conn: @conn %>
  </body>
</html>
